@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));





/* //======================================================================================================================================================== */

@theme {
    --breakpoint-xs: 30.56rem;
    /* 489px */
    --breakpoint-sm: 48rem;
    /* 768px */
    --breakpoint-md: 62rem;
    /* 992px */
    --breakpoint-lg: 77.5rem;
    /* 1240px */
    --font-family: "Inter", sans-serif;
    --font-rubik: "Rubik", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --color-*: initial;
    --color-main: #0D407E;
    --color-black: #313133;
    --color-blue: #3f72b0;
    --color-gray: #686870;
    --color-orange-1: #FF5D3E;
}


body,
html {
    @apply font-family h-full text-[14px];
}

@utility content-auto {
    content-visibility: auto;
}

/* ! LAYOUTS */
.drapak {
    @apply min-h-full flex flex-col overflow-clip
}

.container {
    @apply max-w-[77.5rem] m-auto;
}

/* !Utility */


@utility text-14 {
    @apply font-roboto text-[14px] leading-[1.5] text-black
}

/* !Utility footer */

@utility footer-item-link {
    @apply text-black block font-semibold text-[16px] leading-tight;
}

@custom-variant not-last (&:not(:last-child));