@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));



@theme {
    --breakpoint-xs: 30.56rem;
    /* 489px */
    --breakpoint-sm: 48rem;
    /* 768px */
    --breakpoint-md: 62rem;
    /* 992px */
    --breakpoint-lg: 77.5rem;
    /* 1240px */
    --font-family: "Inter", sans-serif;
    --font-rubik: "Rubik", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --color-*: initial;
    --color-main: #0D407E;
    --color-black: #313133;
    --color-blue: #3f72b0;
    --color-gray: #686870;
    --color-white: #fff;
    --color-orange-1: #FF5D3E;
}


body,
html {
    @apply font-family h-full text-[16px] bg-[#F5F6F7];

}

@utility content-auto {
    content-visibility: auto;
}

/* ! LAYOUTS */
.drapak {
    @apply min-h-full flex flex-col overflow-clip
}

.container {
    @apply max-w-[1240px] m-auto pr-4 pl-4;
}

/* !Utility */


@utility text-14 {
    @apply font-roboto text-[14px] leading-[1.5] text-black
}

@utility text-14-gray {
    @apply font-roboto text-[14px] leading-[1.5] text-gray
}

/* !Utility footer */

@utility footer-item-link {
    @apply text-black block font-semibold text-[16px] leading-tight hover:text-orange-1 transition duration-150 ease-in-out;
}


@utility section-title-32 {
    @apply text-black font-rubik font-bold text-[32px];
}

@utility section-title-24 {
    @apply text-black font-rubik font-semibold text-[24px];
}


@utility absolute-element {
    @apply absolute top-0 left-0 w-full h-full;
}

@utility button-el {
    @apply text-[24px] inline-block text-white bg-orange-1 rounded-[12px] px-6 py-3 hover:bg-orange-1/50 transition-all;
}

@utility button-element {
    @apply text-[16px] inline-block text-white bg-orange-1 rounded-[12px] px-5 py-2.5 hover:bg-orange-1/50 transition-all;
}

@utility input {
    @apply bg-[#f5f5f7] min-h-[48px] rounded-[12px] w-full px-2.5 placeholder:text-gray text-14-gray;
}